*,
*::after,
*::before {
  box-sizing: border-box;
}

/* *:focus-visible {
  outline: 2px red solid !important;
} */

body {
  margin: 0;
  padding: 0;

  background-color: var(--clr-background) !important;
  color: var(--clr-text) !important;
  /* emule du contenu */
  height: 300vh;
}

body::-webkit-scrollbar{
  display: none;
}

a {
  font-family: "satoshi", 'DM Sans', sans-serif;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.dc-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ============== NAVBAR ============== */

nav {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    background-color: #D8DAD3;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    gap: 4rem;
    list-style: none;
    align-items: center;
    justify-content: end;
    margin: 0;
}

#profile {
  border: none;
  background-color: transparent;
}

#profile img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.disconnect {
  border: none;
  background-color: rgb(196, 45, 45) !important;
  color: white !important;
}